{% extends "account/base.html" %***REMOVED***

{% load i18n %***REMOVED***
{% load account socialaccount %***REMOVED***

{% block head_title %***REMOVED***{% trans "Sign In" %***REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***

<h1>{% trans "Sign In" %***REMOVED***</h1>

{% get_providers as socialaccount_providers %***REMOVED***

{% if socialaccount_providers %***REMOVED***
<p>{% blocktrans with site.name as site_name %***REMOVED***Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url ***REMOVED******REMOVED***">sign up</a>
for a {{ site_name ***REMOVED******REMOVED*** account and sign in below:{% endblocktrans %***REMOVED***</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %***REMOVED***
  </ul>

  <div class="login-or">{% trans 'or' %***REMOVED***</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %***REMOVED***

{% else %***REMOVED***
<p>{% blocktrans %***REMOVED***If you have not created an account yet, then please
<a href="{{ signup_url ***REMOVED******REMOVED***">sign up</a> first.{% endblocktrans %***REMOVED***</p>
{% endif %***REMOVED***

<form class="login" method="POST" action="{% url 'account_login' %***REMOVED***">
  {% csrf_token %***REMOVED***
  {{ form.as_p ***REMOVED******REMOVED***
  {% if redirect_field_value %***REMOVED***
  <input type="hidden" name="{{ redirect_field_name ***REMOVED******REMOVED***" value="{{ redirect_field_value ***REMOVED******REMOVED***" />
  {% endif %***REMOVED***
  <a class="button secondaryAction" href="{% url 'account_reset_password' %***REMOVED***">{% trans "Forgot Password?" %***REMOVED***</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %***REMOVED***</button>
</form>

{% endblock %***REMOVED***
