{% extends "account/base.html" %***REMOVED***

{% load i18n %***REMOVED***
{% load account %***REMOVED***

{% block head_title %***REMOVED***{% trans "Password Reset" %***REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***
    <h1>{% trans "Password Reset" %***REMOVED***</h1>
    
    {% if user.is_authenticated %***REMOVED***
    {% include "account/snippets/already_logged_in.html" %***REMOVED***
    {% endif %***REMOVED***
    
    <p>{% blocktrans %***REMOVED***We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %***REMOVED***</p>
{% endblock %***REMOVED***
