{% extends "account/base.html" %***REMOVED***

{% load i18n %***REMOVED***

{% block head_title %***REMOVED***{% trans "Change Password" %***REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***
    <h1>{% trans "Change Password" %***REMOVED***</h1>

    <form method="POST" action="{% url 'account_change_password' %***REMOVED***" class="password_change">
        {% csrf_token %***REMOVED***
        {{ form.as_p ***REMOVED******REMOVED***
        <button type="submit" name="action">{% trans "Change Password" %***REMOVED***</button>
    </form>
{% endblock %***REMOVED***
