{% extends "account/base.html" %***REMOVED***

{% load i18n %***REMOVED***
{% block head_title %***REMOVED***{% trans "Change Password" %***REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***
    <h1>{% if token_fail %***REMOVED***{% trans "Bad Token" %***REMOVED***{% else %***REMOVED***{% trans "Change Password" %***REMOVED***{% endif %***REMOVED***</h1>

    {% if token_fail %***REMOVED***
        {% url 'account_reset_password' as passwd_reset_url %***REMOVED***
        <p>{% blocktrans %***REMOVED***The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url ***REMOVED******REMOVED***">new password reset</a>.{% endblocktrans %***REMOVED***</p>
    {% else %***REMOVED***
        {% if form %***REMOVED***
            <form method="POST" action="{{ action_url ***REMOVED******REMOVED***">
                {% csrf_token %***REMOVED***
                {{ form.as_p ***REMOVED******REMOVED***
                <input type="submit" name="action" value="{% trans 'change password' %***REMOVED***"/>
            </form>
        {% else %***REMOVED***
            <p>{% trans 'Your password is now changed.' %***REMOVED***</p>
        {% endif %***REMOVED***
    {% endif %***REMOVED***
{% endblock %***REMOVED***
