{% extends "account/base.html" %***REMOVED***

{% load i18n %***REMOVED***

{% block head_title %***REMOVED***{% trans "Signup" %***REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***
<h1>{% trans "Sign Up" %***REMOVED***</h1>

<p>{% blocktrans %***REMOVED***Already have an account? Then please <a href="{{ login_url ***REMOVED******REMOVED***">sign in</a>.{% endblocktrans %***REMOVED***</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %***REMOVED***">
  {% csrf_token %***REMOVED***
  {{ form.as_p ***REMOVED******REMOVED***
  {% if redirect_field_value %***REMOVED***
  <input type="hidden" name="{{ redirect_field_name ***REMOVED******REMOVED***" value="{{ redirect_field_value ***REMOVED******REMOVED***" />
  {% endif %***REMOVED***
  <button type="submit">{% trans "Sign Up" %***REMOVED*** &raquo;</button>
</form>

{% endblock %***REMOVED***
