{% extends "account/base.html" %***REMOVED***

{% load i18n %***REMOVED***

{% block head_title %***REMOVED***{% trans "Verify Your E-mail Address" %***REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***
    <h1>{% trans "Verify Your E-mail Address" %***REMOVED***</h1>

    <p>{% blocktrans %***REMOVED***We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %***REMOVED***</p>

{% endblock %***REMOVED***
