{% load i18n %}{% autoescape off %}
{% blocktrans %}کاربر گرامی:{% endblocktrans %}{{ user.get_username }}
{% blocktrans %}سلام{% endblocktrans %}
{% blocktrans %}این ایمیل به درخواست شما برای بازیابی کلمه عبور در چتربازان برای شما ارسال شده است.{% endblocktrans %}
{% blocktrans %}برای تغییر کلمه عبور لینک زیر را باز کنید:{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% blocktrans %}لطفاً توجه داشته باشید، این لینک پس از 48 ساعت منقضی خواهد شد.{% endblocktrans %}
{% endautoescape %}
