{% load i18n %***REMOVED***{% autoescape off %***REMOVED***
{% blocktrans %***REMOVED***کاربر گرامی:{% endblocktrans %***REMOVED***{{ user.get_username ***REMOVED******REMOVED***
{% blocktrans %***REMOVED***سلام{% endblocktrans %***REMOVED***
{% blocktrans %***REMOVED***این ایمیل به درخواست شما برای بازیابی کلمه عبور در چتربازان برای شما ارسال شده است.{% endblocktrans %***REMOVED***
{% blocktrans %***REMOVED***برای تغییر کلمه عبور لینک زیر را باز کنید:{% endblocktrans %***REMOVED***
{% block reset_link %***REMOVED***
{{ protocol ***REMOVED******REMOVED***://{{ domain ***REMOVED******REMOVED***{% url 'password_reset_confirm' uidb64=uid token=token %***REMOVED***
{% endblock %***REMOVED***
{% blocktrans %***REMOVED***لطفاً توجه داشته باشید، این لینک پس از 48 ساعت منقضی خواهد شد.{% endblocktrans %***REMOVED***
{% endautoescape %***REMOVED***
