<p>سلام</p>
<p>
به جمع اعضای چتربازان خوش آمدید.
</p>
<p>
از این پس میتوانید با آدرس ایمیل خود وارد حساب کاربری چتربازان شوید و به آسانی از کدهای تخفیف ویژه استفاده و خرید کنید.
</p>
<p>
همواره برای تغییر رمز عبور خود می توانید از طریق لینک زیر اقدام نمایید
</p>
<p>
<p><a href="{{activate_url***REMOVED******REMOVED***">فعال سازی</a></p>
<p>{{activate_url***REMOVED******REMOVED***</p>
</p>
<p><a href="https://T.me/chatrbaazan">تلگرام چتربازان</a></p>
<p><a href="https://Instagram.com/chatrbaazan">اینستگرام</a></p>
<p>همچنین در خبرنامه چتربازان عضو شوید تا جدیدترین کدهای تخفیف برای شما ایمیل شود</p>
<p>چتر تخفیفت رو پهن کن خرجتو کم کن</p>