{% extends "admin/change_form.html" %***REMOVED***

{% block extrahead %***REMOVED***
{% load static %***REMOVED***
<script src="{% static "jquery/jquery.js" %***REMOVED***"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %***REMOVED***"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %***REMOVED***"></script>

<script>
//    CKEDITOR.replaceClass('vLargeTextField');
$(document).ready(function () {
        $("textarea").each(function(){
            console.log(this)
            CKEDITOR.replace( this );
        ***REMOVED***);
***REMOVED***)
</script>
{{ block.super ***REMOVED******REMOVED***
{% endblock %***REMOVED***