{% extends "admin/change_form.html" %}

{% block extrahead %}
{% load static %}
<script src="{% static "jquery/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<script>
//    CKEDITOR.replaceClass('vLargeTextField');
$(document).ready(function () {
        $("textarea").each(function(){
            console.log(this)
            CKEDITOR.replace( this );
            CKEDITOR.editorConfig = function (config) {
                config.contentsLangDirection = 'rtl';
            };
        });
var vars = [];
var hash;
var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
for (var i = 0; i < hashes.length; i++) { hash=hashes[i].split('=');
            vars[hash[0]] = hash[1];
        }
        if(vars['type'] != 'undefined'){
            $("#id_type").find('option[value="'+vars['type']+'"]').prop('selected', 'selected');
        }
})
function back(){
function back(){
    window.history.back();

}
</script>
{{ block.super }}
{% endblock %}
{% block submit_buttons_bottom %}
{{ block.super }}
    <input type="submit" value="Cancel" onclick="back()" name="_make-unique">
{% endblock %}