@font-face {
    font-family: "iranyekan";
    src: url('../fonts/iranyekanweblight.ttf') format('ttf'),
    url('../fonts/iranyekanweblight.woff2') format('woff2'),
    url('../fonts/iranyekanweblight.woff') format('woff'),
    url('../fonts/iranyekanweblight.eot') format('eot');
}

* {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: iranyekan;
}

/* Fix bug input in safari */
input {
    -moz-user-select: auto !important;
    -webkit-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

input[type="text"], input[type="email"], textarea, input[type="password"], input[type="url"], input[type="number"], textarea, select, .vTextField {
    direction: rtl !important;
}

/*.form-row label{*/
/*float: right;*/
/*direction: rtl;*/
/*}*/
/*.select2-container--jet {*/
/*float: right;*/
/*}*/